<!DOCTYPE css>
<html>

<body>

.navigation 

.charities h1 {
		color: red;
		background-color: black;
		text-align: center;
		font-size: 3em;
	
}
.charities h2 {
		color: red;
		background-color: black;
		text-align: center;
		font-size: 3em;
	}

</body>

</html>